@import url('https://fonts.googleapis.com/css?family=Faster+One|Open+Sans|Lora|Merriweather:300" rel="stylesheet');

main{
  display: flex;
  width:98vw;
  flex-direction: column;
  font-family: "Lora";
  justify-content: space-around;
  flex-wrap: wrap;
}

*{
  margin:0px;
}

.nav_container {
  display: flex;
  width:98vw;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgb(0,128,128,0.7);
  border-radius: 15px;
 }

.nav_container .logo{
  width: 98vw;
  color:white;
  font-family:'Faster One', cursive;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
}

.nav_container .top_nav{
  width: 98vw;
  background-color: rgb(255,255,0,0.6);
  text-transform: uppercase;
	margin: 1px;
	padding: 1px;
}

.nav_container .bottom_nav{
  width:98vw;
}

.nav_container .top_nav_ul, .bottom_nav_ul, .best_ul{
  list-style-type:none;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.nav_container .nav_items{
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid green;
}

.main_header {
  text-transform: uppercase;
  text-align: center;
  font-family: "Lora";
  font-size:2em;
  background-color: rgb(0,128,128,0.3);
  border-radius: 15px;
  
}

.container, .best_selling{
  width: 98vw;
  display:flex;
/*  background-color: rgb(0,128,128,0.3);*/
  border-radius: 15px;
}

@media (min-width: 900px) {
  section.container{
  display: flex;
  justify-content: space-around;
  }
}

.main_image{
  border: 1px;
  margin: 2px;
  border-radius: 15px;
  background-color: white;
  flex-direction: column;
  justify-content:space-around;
}

.main_content{
  border: 1px dashed teal;
}

.main_content p, .main_content li{
  font-family: "Lora";
}

.free {
  font-family:"Merriweather";
  font-weight: bold;
  font-size: 1.2em;
  background-color: rgb(0,128,128,0.2);
  display:flex;
  justify-content:space-around;
}

.head2, .head3 {
  text-align:center;
  text-transform:uppercase;
  background-color:rgb(0,128,128,0.1);
}

.best{
  border: 1px dashed green;
  border-radius: 5px 25px;
  justify-content:space-around;
} 

.nav_items:hover a , .best:hover a{
	color: rgb(128,0,256,0.5);
	transition: all 0.5s ease-in 0.2s;
	text-decoration: none !important;
}

input { display: none; }
input + label { display: inline-block }

input ~ .tab { display: none }
#tab1:checked ~ .tab.aboutUsTab,
#tab2:checked ~ .tab.paymentTab,
#tab3:checked ~ .tab.returnsTab,
#tab4:checked ~ .tab.deliveryTab,
#tab5:checked ~ .tab.faqTab { 
  display: block; 
  }

input + label {
  border: 1px solid #999;
  background: #EEE;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
}
input:checked + label {
  background: #FFF;
  border-bottom: 1px solid transparent;
}
input ~ .tab {
  border-top: 1px solid #999;
  padding: 16px;
  font-family: "Lora";
}
